@font-face {
  font-family: 'icomoon';
  src:  url('font/icomoon.eot?6daadq');
  src:  url('font/icomoon.eot?6daadq#iefix') format('embedded-opentype'),
  url('font/icomoon.ttf?6daadq') format('truetype'),
  url('font/icomoon.woff?6daadq') format('woff'),
  url('font/icomoon.svg?6daadq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Dont add others icons/classes here, use iconfont-new-set

.icon-dots:before {
  content: "\e95c";
}

.icon-question-mark-new:before {
  content: "\e95b";
  color: #a100ff;
}

.icon-minus-formulae:before {
  content: "\e95a";
  color: #a100ff;
}
.icon-active:before {
  content: "\e958";
  color: #008;
}
.icon-deactive:before {
  content: "\e95d";
  color: #008;
}
.icon-closed:before {
  content: "\e959";
  color: #008;
}
/*
.icon-add:before {
  content: "\e957";
  color: #a100ff;
}
*/
.icon-down-formulae:before {
  content: "\e953";
  color: #a100ff;
}
.icon-overall-formulae:before {
  content: "\e954";
  color: #008;
}
.icon-plus-formulae:before {
  content: "\e955";
  color: #a100ff;
}
.icon-right-formulae:before {
  content: "\e956";
  color: #a100ff;
}
.icon-close-formulae:before {
  content: "\e952";
  color: #fff;
}
.icon-change-formulae:before {
  content: "\e951";
  color: #aaa;
}
.icon-bin:before {
  content: "\e94b";
  color: #fff;
}
.icon-duplicate:before {
  content: "\e94c";
  color: #fff;
}
.icon-edit:before {
  content: "\e94d";
  color: #fff;
}
.icon-move:before {
  content: "\e94e";
  color: #aaa;
}
.icon-recover:before {
  content: "\e94f";
  color: #fff;
}
.icon-share-formulae:before {
  content: "\e950";
  color: #aaa;
}
.icon-search-new:before {
  content: "\e94a";
  color: #a100ff;
}
.icon-formul:before {
  content: "\e948";
  color: #a100ff;
}
.icon-bell:before {
  content: "\e949";
  color: #a100ff;
}

.icon-target-icon:before {
  content: "\e943";
  color: #a100ff;
}
.icon-execution-icon:before {
  content: "\e947";
}

.icon-screen-icon:before {
  content: "\e944";
  color: #a100ff;
}
.icon-cloud-icon:before {
  content: "\e945";
  color: #a100ff;
}
.icon-share-icon:before {
  content: "\e946";
  color: #a100ff;
}
.icon-new-it:before {
  content: "\e942";
  color: #a100ff;
}
.icon-digital-five-icon:before {
  content: "\e900";
  color: #a100ff;
}
.icon-digital-four-icon:before {
  content: "\e901";
  color: #a100ff;
}
.icon-digital-one-icon:before {
  content: "\e902";
  color: #a100ff;
}
.icon-digital-seven-icon:before {
  content: "\e903";
  color: #a100ff;
}
.icon-digital-six-icon:before {
  content: "\e904";
  color: #a100ff;
}
.icon-digital-three-icon:before {
  content: "\e905";
  color: #a100ff;
}
.icon-digital-two-icon:before {
  content: "\e906";
  color: #a100ff;
}
.icon-book-Five:before {
  content: "\e93a";
  color: #a100ff;
}
.icon-book-Four:before {
  content: "\e93b";
  color: #a100ff;
}
.icon-book-Three:before {
  content: "\e93c";
  color: #a100ff;
}
.icon-book-Two:before {
  content: "\e93d";
  color: #a100ff;
}
.icon-book-One:before {
  content: "\e93e";
  color: #a100ff;
}
.icon-book-Trust:before {
  content: "\e93f";
  color: #fff;
}
.icon-book-Profitability:before {
  content: "\e940";
  color: #fff;
}
.icon-book-Growth-n-Customers:before {
  content: "\e941";
  color: #fff;
}
.icon-Nine:before {
  content: "\e907";
  color: #a100ff;
}
.icon-Eight:before {
  content: "\e908";
  color: #a100ff;
}
.icon-Seven:before {
  content: "\e909";
  color: #a100ff;
}
.icon-Six:before {
  content: "\e90a";
  color: #a100ff;
}
.icon-Five:before {
  content: "\e90b";
  color: #a100ff;
}
.icon-Three:before {
  content: "\e90c";
  color: #a100ff;
}
.icon-Two:before {
  content: "\e90d";
  color: #a100ff;
}
.icon-One:before {
  content: "\e90e";
  color: #a100ff;
}
.icon-Control-n-Monitoring:before {
  content: "\e90f";
  color: #fff;
}
.icon-Executes-initiatives:before {
  content: "\e910";
  color: #fff;
}
.icon-Locks-targets-into-Budget:before {
  content: "\e911";
  color: #fff;
}
.icon-Category-Ownership:before {
  content: "\e912";
  color: #fff;
}
.icon-Visibility:before {
  content: "\e913";
  color: #fff;
}
.icon-Value-targeting:before {
  content: "\e914";
  color: #fff;
}
.icon-Execution:before {
  content: "\e915";
  color: #fff;
}
.icon-Capabilities:before {
  content: "\e916";
  color: #fff;
}
.icon-Adobe:before {
  content: "\e917";
  color: #a100ff;
}
.icon-Strategy:before {
  content: "\e918";
  color: #fff;
}
.icon-Search_BOX_ICON:before {
  content: "\e919";
  color: #fff;
}
.icon-close-X:before {
  content: "\e91a";
  color: #fff;
}
.icon-Four:before {
  content: "\e91b";
  color: #a100ff;
}
.icon-learning:before {
  content: "\e91c";
}
.icon-scroll-up:before {
  content: "\e91d";
}
.icon-text-bubble:before {
  content: "\e91e";
}
.icon-search:before {
  content: "\e91f";
}
.icon-question-mark:before {
  content: "\e920";
}
.icon-arrow-down:before {
  content: "\e921";
}
.icon-play:before {
  content: "\e922";
}
.icon-back:before {
  content: "\e923";
}
.icon-partecipants:before {
  content: "\e924";
}
.icon-materials-needed:before {
  content: "\e925";
}
.icon-external-link:before {
  content: "\e926";
}
.icon-change:before {
  content: "\e927";
}
.icon-arrow-up:before {
  content: "\e928";
}
.icon-tips-and-tricks:before {
  content: "\e929";
}
.icon-suggested-time:before {
  content: "\e92a";
}
.icon-show-more:before {
  content: "\e92b";
}
.icon-show-less:before {
  content: "\e92c";
}
.icon-share:before {
  content: "\e92d";
}
.icon-scroll-down:before {
  content: "\e92e";
}
.icon-read-more:before {
  content: "\e92f";
}
.icon-full_screen:before {
  content: "\e930";
}
.icon-no_volume:before {
  content: "\e931";
}
.icon-pause:before {
  content: "\e932";
  color: #a100ff;
}
.icon-play-copy:before {
  content: "\e933";
  color: #a100ff;
}
.icon-volume:before {
  content: "\e934";
  color: #a100ff;
}
.icon-read-more-arrow-white:before {
  content: "\e935";
  color: #a100ff;
}
.icon-read-back-arrow-white:before {
  content: "\e936";
  color: #a100ff;
}
.icon-co-create:before {
  content: "\e937";
  color: #a100ff;
}
.icon-describe:before {
  content: "\e938";
  color: #a100ff;
}
.icon-discover:before {
  content: "\e939";
  color: #a100ff;
}
.icon-grey-up:before {
  content: "\e95d";
  color: #aaa;
}
.icon-grey-sx:before {
  content: "\e95e";
  color: #aaa;
}
