@font-face {
  font-family: 'icomoon_set';
  src:  url('../icomoon_set.eot?boe197');
  src:  url('../icomoon_set.eot?boe197#iefix') format('embedded-opentype'),
    url('../icomoon_set.ttf?boe197') format('truetype'),
    url('../icomoon_set.woff?boe197') format('woff'),
    url('../icomoon_set.svg?boe197#icomoon_set') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon_set_"], [class*=" icon_set_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon_set' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_set_MyLearning:before {
  content: "\e940";
  color: #595959;
}
.icon_set_meh---icon:before {
  content: "\e941";
}
.icon_set_happy-copy:before {
  content: "\e944";
}
.icon_set_sad-icon:before {
  content: "\e946";
}
.icon_set_smile-copy:before {
  content: "\e947";
}
.icon_set_group:before {
  content: "\e93e";
  color: #fff;
}
.icon_set_menu:before {
  content: "\e93f";
  color: #a100ff;
}
.icon_set_info-generic:before {
  content: "\e93d";
  color: #aaa;
}
.icon_set_alert-icon1:before {
  content: "\e93c";
  color: #ff8e00;
}
.icon_set_arrowup:before {
  content: "\e93b";
  color: #4d4d4d;
}
.icon_set_user-single:before {
  content: "\e93a";
  color: #595959;
}
.icon_set_excell-icon:before {
  content: "\e934";
  color: #217346;
}
.icon_set_file-icon:before {
  content: "\e935";
  color: #008;
}
.icon_set_img-icon:before {
  content: "\e936";
  color: #008;
}
.icon_set_pdf-icon:before {
  content: "\e937";
  color: #008;
}
.icon_set_ppt-icon:before {
  content: "\e938";
  color: #d24726;
}
.icon_set_word-icon:before {
  content: "\e939";
  color: #2b579a;
}
.icon_set_icon-link:before {
  content: "\e932";
  color: #595959;
}
.icon_set_upload:before {
  content: "\e933";
  color: #595959;
}
.icon_set_icon-parking_lot3x:before {
  content: "\e931";
  color: #595959;
}
.icon_set_arrow02:before {
  content: "\e930";
  color: #fff;
}
.icon_set_user-icon:before {
  content: "\e92f";
  color: #fff;
}
.icon_set_crown-icon:before {
  content: "\e92d";
}
.icon_set_eye-icon-2:before {
  content: "\e92e";
  color: #a100ff;
}
.icon_set_admin-icon2x:before {
  content: "\e92b";
  color: #fff;
}
.icon_set_comment-circle-blue3x:before {
  content: "\e92c";
  color: #fff;
}
.icon_set_down:before {
  content: "\e929";
  color: #d0021b;
}
.icon_set_up:before {
  content: "\e92a";
  color: #00d700;
}
.icon_set_ban:before {
  content: "\e928";
  color: #db0f6b;
}
.icon_set_landing:before {
  content: "\e927";
  color: #008;
}
.icon_set_new-project:before {
  content: "\e926";
  color: #a100ff;
}
.icon_set_check-toast:before {
  content: "\e925";
  color: #fff;
}
.icon_set_formulae-delete:before {
  content: "\e924";
  color: #008;
}
.icon_set_eye:before {
  content: "\e923";
  color: #008;
}
.icon_set_heart-filled:before {
  content: "\e922";
  color: #008;
}
.icon_set_plus:before {
  content: "\e921";
  color: #a100ff;
}
.icon_set_check-green:before {
  content: "\e920";
  color: #00d700;
}
.icon_set_icon-folder:before {
  content: "\e91d";
  color: #008;
}
.icon_set_icon-tag:before {
  content: "\e91e";
  color: #aaa;
}
.icon_set_icon-user:before {
  content: "\e91f";
  color: #aaa;
}
.icon_set_live-icon:before {
  content: "\e917";
  color: #fff;
}
.icon_set_view-icon .path1:before {
  content: "\e918";
  color: rgb(255, 255, 255);
}
.icon_set_view-icon .path2:before {
  content: "\e919";
  margin-left: -1.142578125em;
  color: rgb(255, 255, 255);
}
.icon_set_view-icon .path3:before {
  content: "\e91a";
  margin-left: -1.142578125em;
  color: rgb(255, 255, 255);
}
.icon_set_view-icon .path4:before {
  content: "\e91b";
  margin-left: -1.142578125em;
  color: rgb(89, 89, 89);
}
.icon_set_microsoft_teams-icon:before {
  content: "\e91c";
  color: #5558af;
}
.icon_set_download-icon:before {
  content: "\e916";
  color: #fff;
}
.icon_set_edit:before {
  content: "\e915";
  color: #aaa;
}
.icon_set_reset-filters:before {
  content: "\e914";
  color: #a100ff;
}
.icon_set_arrow-right:before {
  content: "\e913";
  color: #fff;
}
.icon_set_alert-icon:before {
  content: "\e912";
  color: #ffb600;
}
.icon_set_give-feedback:before {
  content: "\e911";
  color: #fff;
}
.icon_set_heart:before {
  content: "\e910";
  color: #008;
}
.icon_set_archive-big:before {
  content: "\e90f";
  color: #008;
}
.icon_set_share:before {
  content: "\e90d";
  color: #aaa;
}
.icon_set_syncronize:before {
  content: "\e90e";
  color: #595959;
}
.icon_set_mail:before {
  content: "\e900";
  color: #fff;
}
.icon_set_add:before {
  content: "\e901";
}
.icon_set_dot:before {
  content: "\e902";
}
.icon_set_up-icon-blue:before {
  content: "\e903";
}
.icon_set_down-icon-blue:before {
  content: "\e904";
}
.icon_set_microsoft_teams:before {
  content: "\e905";
}
.icon_set_half-r:before {
  content: "\e906";
}
.icon_set_half-l:before {
  content: "\e907";
}
.icon_set_full-fill:before {
  content: "\e908";
}
.icon_set_full-empty:before {
  content: "\e909";
}
.icon_set_full-mask:before {
  content: "\e90a";
}
.icon_set_half-l-filled:before {
  content: "\e90b";
}
.icon_set_half-r-filled:before {
  content: "\e90c";
}
.icon_set_minus-icon:before {
  content: "\ea0b";
}
.icon_set_plus-icon:before {
  content: "\ea0a";
}
